source_directories:
  - /mnt/source/lab-docker-volumes
  - /mnt/source/lab-etc

repositories:
  - path: /mnt/borg-repository/repo
    label: local
  - path: ssh://borg@pn50.lan/home/borg/lab
    label: borg-pn50

# Allow backing up subdirectories mounted as docker volumes under configured source directory(s)
one_file_system: false

compression: zlib # good, but slow
# compression: lz4 # fast, low compression ratio

archive_name_format: 'lab-backup-{now:%Y-%m-%d-%H-%M-%S}'

exclude_patterns:
  - '*/log/*'
  - '*/logs/*'
  - '*.log'
  - '*/cache/*'
  - '*.cache'
  - '*/freshrss-data/favicons/*'
  - '*/librechat-mongodb/diagnostic.data/*'

keep_daily: 7
keep_weekly: 4
keep_monthly: 12
keep_yearly: 10

checks:
  - name: repository
    frequency: 2 weeks
  - name: archives
    frequency: always
  - name: extract
    frequency: 2 weeks
  - name: data
    frequency: 1 month

commands:
  - before: everything
    when:
      - create
    run:
      - echo "Starting a new job."

  - after: everything
    when:
      - create
    run:
      - echo "Backup created."

  - after: error
    when:
      - create
      - prune
      - compact
      - check
    run:
      - echo "Error while creating a backup."

ntfy:
  topic: borgmatic
  server: http://ntfy.lab.home

  start:
    title: Starting backup!
    message: Borgmatic backup is starting.
    priority: min

  finish:
    title: Finished backup!
    message: Borgmatic backup has finished.
    priority: min

  fail:
    title: Failed backup!
    message: Borgmatic backup has failed.
    priority: max

  states:
    - start
    - finish
    - fail

# apprise:
#   services:
#     - url: gotify://gotify.lab.home/${GOTIFY_TOKEN}
#       label: gotify

#   send_logs: false

#   states:
#     - start
#     - finish
#     - fail
#     # - log

# healthchecks:
#   ping_url: ${BORG_HEALTHCHECK_URL}

